@import "@fontsource/spectral";

body {
  margin: 0;
  overflow: hidden;

  font-family: "Spectral", serif;
  color: #36302b;
}

#app {
  width: 100vw;
  height: 100vh;
}

button {
  font: inherit;
  color: inherit;
}
